{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	
	<title>Keya House</title>
	 <link rel = "icon" href ="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/135517833/original/f26e5c2f01f622f1df12baaabb19f19dbef142ba/in-24-hours-or-less-design-2-esport-gaming-youtube-twitch-icons-for-you.png" type = "image/x-icon"> 
      <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
</head>
<body>
		{% include "header.html" %}

		<section class="background firstsection" >
			<div class="box-main">
				<div class="fhalf">
					<p class="label">Help animals</p>
					<p class="para">Dogs are friendly and they love human companionship. Whose ego would not be gratified at the sight of a happy dog who can't wait to greet you at the end of a hard day ? Your dog waits for you by the door, face smiling, mouth open and tail wagging, ready to dote on you, his best friend in the world. </p>
					<div class="buttons">
						<button class="btn">Donate Now</button>
						<button class="btn">View Details</button>
						
					</div>
				</div>
				<div class="shalf">
					<img src="{% static 'img/fund.png' %}">
				</div>
				
			</div>
		</section>
	
		<section class="ssection">
			<div class="t-paras">
					<p class="subpara label">Cats </p>
					<p class="subpara para">Cats use vocalizations to express emotion. Meowing, purring, hisses, growls, and more are included in the feline repertoire, each with special meanings depending on their context. While adult cats normally don't meow at each other, domesticated cats have learned to meow at humans. Some scientists think this is a sign that cats see their owners as kittens because generally only mother cats and their kittens communicate through meowing.</p>
			</div>
			<div class="thumbnail">
				<img class="img-fluid" src="{% static 'img/cats.jpg' %}"/>
			</div>
		</section>
		<section class="ssection left">
			<div class="t-paras">
					<p class="subpara label">Dogs </p>
					<p class="subpara para">Dogs are loyal and, as pack animals, they respond to the presence of a leader - you ! Dogs are eager to please you in any way they can. When you're feeling blue your dog will remain by your side silently comforting you. When you're happy and excited, your dog will leap about you and share in your joy.</p>
			</div>
			<div class="thumbnail">
				<img class="img-fluid" src="{% static 'img/dogs.jpg' %}"/>
			</div>
		</section>
		<section class="ssection ">
			<div class="t-paras">
					<p class="subpara label">Fund Raiser</p>
					<p class="subpara para">Each family can adopt the perfect dog to suit their taste and lifestyle by considering factors such as a dog's size and temperment. Does the family have a large fenced yard where a big dog can romp in safety, or a cramped apartment suitable for small dogs only ? Can the family pet care budget support a large dog with a large appetite ? Are there lots of flower beds that might be dug up and ruined by a breed such as a terrier ? Are there children in the house who require an extra gentle dog who'll tolerate the uninformed tail-pulling of a pre-schooler or the roughhousing of a ten year old ?</p>
			</div>
			<div class="thumbnail">
				<img class="img-fluid" src="{% static 'img/cd.jpg' %}"/>
			</div>
		</section>
		<br>
		{% include "footer.html" %}
<script type="text/javascript" src="{% static 'js/site.js' %}"></script>
</body>
</html>